.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    justify-self: center;
    align-self: center;
    background-color: rgb(51, 93, 148);
    box-shadow: cadetblue;
    height: 70%;
    width: 60%;

    
}

.container > * {
    width: 70%;
    height: 2em;
    margin: 1em 0;
    background-position: center;
    border-radius: 15px;
    background: pink;
    box-shadow: -20px -20px 60px #ce99b9, 20px 20px 60px #ffffff;
  }

.btn {
    height: 4em;
    width: 20%;
    border-radius: 1.5px;
    background: darkcyan;
}